<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1032718467866-6cqjkbblrkgc0cnekrmajmqn4m6jf9ns.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1032718467866-6cqjkbblrkgc0cnekrmajmqn4m6jf9ns</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1032718467866-p5bclogjuduk94o9kcvtv0qaamcs1f2m.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDcdUd5XtRJ1LMQYvPE8YFsn3hiv5pygVo</string>
	<key>GCM_SENDER_ID</key>
	<string>1032718467866</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.risetime.kumluk</string>
	<key>PROJECT_ID</key>
	<string>kumluk-82a0c</string>
	<key>STORAGE_BUCKET</key>
	<string>kumluk-82a0c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1032718467866:ios:87048d4c4e3fe4345362a3</string>
</dict>
</plist>